<div fxLayout="column" fxLayoutGap="20px">

  <div class="m-1 p-2">
      <p class="lead">Discovery Settings</p>
  </div>

  <div>
    <mat-card>
      <p class="lead">Show Me</p>
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="20px">
          <div  fxLayout="row" fxLayoutAlign="space-between center" >
            <div>Male</div>
            <div><mat-slide-toggle></mat-slide-toggle></div>
          </div>
          <div  fxLayout="row" fxLayoutAlign="space-between center" >
            <div>Female</div>
            <div><mat-slide-toggle></mat-slide-toggle></div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <div  fxLayout="row" fxLayoutAlign="space-between center" >
        <div><p class="lead">Maximum Distance</p></div>
        <div><p class="lead">38 Km</p></div>
      </div>
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="20px">
          <div  fxLayout="row" fxLayoutAlign="space-between center" >
        <mat-slider class="w-100"></mat-slider>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


  <div>
    <mat-card>
      <div  fxLayout="row" fxLayoutAlign="space-between center" >
        <div><p class="lead">Age Range</p></div>
        <div><p class="lead">18-34</p></div>
      </div>
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="20px">
          <div  fxLayout="row" fxLayoutAlign="space-between center" >
            <mat-slider class="w-100"></mat-slider>
          </div>
        </div>
      </mat-card-content>
      <small class="text-muted">
        Freedl uses these preferences to suggest matches.Some match suggestions may not fall within your desired parameters.
      </small>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <mat-card-content>
        <div  fxLayout="row" fxLayoutAlign="space-between center" >
          <div><p class="lead">Show me on Freedl</p></div>
          <div><mat-slide-toggle></mat-slide-toggle></div>
        </div>
      </mat-card-content>
      <small class="text-muted">
        You won't show up in the card stack but can still message your existing matches.
      </small>
    </mat-card>
  </div>


  <div class="m-1 p-2">
    <p class="lead">App Settings</p>
  </div>

  <div>
    <mat-card>
      <div  fxLayout="row" fxLayoutAlign="space-between center" >
        <div><p class="lead">Show Distances in</p></div>
        <div><p class="lead">Km.</p></div>
      </div>
      <mat-card-content>
        <div  fxLayout="row" fxLayoutAlign="space-around center" >
          <div> <button  mat-stroked-button>Km.</button></div>
          <div> <button mat-stroked-button>Mi.</button></div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="m-1 p-2">
    <p class="lead">Contact Us</p>
  </div>

  <div>
    <mat-card>
      <div class="w-100">
        <div><p class="text-center  m-0">Help & Support</p></div>
      </div>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <div  fxLayout="Column"  >
        <div><p>Legal</p></div>
        <div><p>Licenses</p></div>
        <div><p>Privacy Policy</p></div>
        <div><p class="m-0">Terms of Service</p></div>
      </div>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <div class="w-100">
        <div><p class="text-center m-0">Logout</p></div>
      </div>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <div class="w-100">
        <div><p class="text-center  m-0" style="color: red">Delete Account</p></div>
      </div>
    </mat-card>
  </div>



</div>
