.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  margin-top: auto;
  margin-bottom: auto;
  height: 50px !important;
  width: 50px !important;
}

.profileHeader {
  display: block;
  text-align: -webkit-center;
}

.tileContact {
  background-color: white;

}

.hero_card-border {
  border-radius: 13% !important;
}


